.navbar {
  border-bottom: #000 3px solid;
}

.modal-header {
  border-bottom: #000 3px solid;
}

#homePage {
  padding-top: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
